* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    scroll-behavior: smooth;
    font-family: "Georama", sans-serif;
}

body {
    width: 100%;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 10%;
    top: 0;
    background-color: #1f2937;
    padding: 10px;
}

p {
    font-size: 18px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    justify-content: center;
    align-items: center;
    color: #f9faf8;
}

.nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: auto;
}

.nav-links li a {
    color: #e5e7eb;
}

#menu-icon {
    display: none;
}

section {
    width: 100%;
    padding: 20px;
    margin: 0 auto;
}

.about {
    display: flex;
    flex-direction: column;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 50px auto;
    gap: 50px;
}

#profile-pic {
    width: 30vw;;
    border-radius: 50%;
}

.text-social {
    display: flex;
    flex-direction: column;
}

.about-text {
    width: 100%;
    max-width: 500px;
    height: auto;
}

h3, h1, h2 {
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-bottom: 0;
    font-weight: 600;
}

h3 {
    font-size: 24px;
    margin-bottom: 30px;
}

h2 {
    font-size: 32px;
    margin-top: 0;
    font-weight: 500;
}

#about-me {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 10px;
}

.social {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 30px;
    font-size: 40px;
    text-decoration: none;
}

.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-skills {
    margin: 20px auto;
}

.tech-stack {
    padding: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.tech-title {
    padding: 10px;
}

.tech {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.stack {
    text-align: center;
}

.stack-img {
    width: 5vw;
    height: auto;
    padding: 5px;
}

.soft-title {
    padding: 10px;
}

.soft-skills {
    padding: 20px;
    margin: 20px auto;
    flex-wrap: wrap;
}

.soft {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.soft li {
    border-radius: 10px;
    padding: 15px;
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 24px;
    flex-shrink: 1;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px auto;
}

.section-project {
    margin: 20px auto;
}

.project-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 50px;
}

.project-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #1f2937;
    text-align: center;
}

.project-img {
    max-width: 300px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.project-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

h4 {
    margin-bottom: 10px;
}

.project-highlight {
    margin-bottom: 10px;
}

.project-links {
    background-color: #1f2937;
    border: 2px solid #1f2937;
    padding: 5px 20px;
    border-radius: 6px;
}

.project-links a {
    color: #e5e7eb;
}



footer {
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: #1f2937;
    color: #e5e7eb;
    text-align: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 5px;
}

.footer a {
    color: #e5e7eb;
}

@media(max-width:768px){
    .about-container {
        display: flex;
        flex-direction: column;
    }
    #profile-pic {
        width: 50vw;
    }
    .tech {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
        justify-content: center;
    }
    .social {
        display: flex;
        font-size: 50px;
        gap: 20px;
    }
    .stack-img {
        width: 15vw;
    }
    .soft {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    .project-list {
        display: flex;
        flex-direction: column;
    }
    .project-buttons a {
        font-size: 24px;
    }
    p{
        font-size: 28px;
    }
    h3, .tech-title, .soft-title{
        font-size: 30px;
    }
    h2 {
        font-size: 38px;
    }
    h1{
        font-size: 46px;
    }
    footer a {
        font-size: 24px;
    }
    h4{
        font-size: 24px;
    }
    header .nav-links a{
        font-size: 20px;
    }
    .logo{
        font-size: 24px;
    }
}

@media(max-width:600px){
    #menu-icon {
        display: block;
        color: #f9faf8;
        font-size: 24px;
    }
    .logo{
        font-size: 24px;
    }
    .nav-links{
        position: absolute;
        right: 100%;
        top: 0;
        width: 100%;
        text-align: center;
        padding: 10px;
        background-color: #1f2937;
        color: #e5e7eb;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .nav-links.active{
        display: block;
    }
    .nav-links a {
        display: block;
    }
    .project-links {
        padding: 10px 20px;
    }
    .project-links a {
        font-size: 16px;
    }
    .stack-img {
        width: 30vw;
    }
    .social {
        font-size: 50px;
    }
    #profile-pic {
        width: 70vw;
    }
    .project-buttons a {
        font-size: 20px;
    }
    p{
        font-size: 20px;
    }
    h3, .tech-title, .soft-title{
        font-size: 26px;
    }
    h2 {
        font-size: 30px;
    }
    h1{
        font-size: 36px;
    }
    footer a {
        font-size: 20px;
    }
    h4{
        font-size: 20px;
    }
}