body {
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(5, 140, 173);
    height: 50px;
}

ul {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    gap: 20px;
}

li {
    color: white;
}

.right-side, .left-side {
    font-size: 20px;
    font-weight: bold;
 }

.left-side {
    margin-left: 0;
}

 .right-side {
    margin-right: 30px;
 }

a {
    text-decoration: none;
    color: white;
}

.body {
    flex: 1;
    display: flex;
}

.tech-stack {
    background-color: rgb(5, 140, 173);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.describe-stack {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    color: white;
}

.stack {
    width: 50px;
    height: 50px;
    margin-top: 15px;
}

.body-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.intro {
    margin: 20px;
    flex: 1;
}

h1, h2 {
    margin: 0;
    font-size: 40px;
}

h3 {
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 35px;
}

.about-me {
    margin-top: 0;
    font-size: 18px;
}

.profile-photo {
    margin: 20px;
    flex: 1;
}

#profile-pic {
    width: 400px;
    height: 400px;
}

.social-links {
    display: flex;
    gap: 15px;
    margin-top: 15px;
    flex: 1;
}

#github, #linkedin {
    width: 30px;
    height: 30px;
}